version: "3.9"

services:

  api:
    build:
      context: .
      dockerfile: docker/api.Dockerfile
    container_name: income_api
    expose:
      - "8000"
    restart: always

  streamlit:
    build:
      context: .
      dockerfile: docker/streamlit.Dockerfile
    container_name: income_streamlit
    command: ["streamlit", "run", "streamlit/app.py", "--server.port=8501", "--server.address=0.0.0.0"]
    expose:
      - "8501"
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt
    depends_on:
      - api
      - streamlit
    restart: always
